@media (max-width: 500px) {
    .pokeContainer {
        flex-direction: column;
    }

    body {
        justify-content: flex-start;
    }
    

    .pokeContainer .pokemon {
        flex: 1;
        flex-direction: row;
        width: 100%;
        padding: 10px;
        gap: 5px;
        align-items: center;
    }

    .pokemon .id {
        font-size: 20px;
        margin: 0;
        backdrop-filter: none;
    }

    .toolBar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
