* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

h1 {
    margin: 20px 0;
    letter-spacing: 5px; 
    background-color: #0c0c0c78;
    padding: 5px;
    color: #fff;
    width: 90%;
    text-align: center;
    font-weight: 40px;
    font-weight: bold;
    border-radius: 5px;
}

.bg{
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    min-width: 100vw;
    z-index: -1;
}

.bg img {
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
}

.pokeContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    padding: 20px;
    width: 100%;
}

.pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(41, 43, 43, 0.127);
    backdrop-filter: blur(30px);
    border: 2px solid #fff;
    
    padding-top: 10px;
    border-radius: 10px 10px 10px 0;
    width: 160px;
}
.pokemon .id {
    margin-bottom: 10px;
    font-weight: bold;
    color: #fff;
}
.pokemon .imgPoke {
    background-color: #ffffff;
    padding: 20px;
    width: 110px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.pokemon .imgPoke img {
    max-width: 90px;
    max-height: 90px;
    transition: 0.3s linear;
}

.pokemon .imgPoke img:hover{
    transform: scale(1.4);
}

.infPoke {
    margin: 10px 0;
    margin-right: 10px;
    padding: 5px 3px;
    background-color: #fff;
    text-align: center;
    border-radius: 0 10px 10px 0;
    width: 95%;
}

.infPoke .name {
    letter-spacing: 1.2px;
    margin-bottom: 5px;
    font-weight: bold;
}

.infPoke .name::first-letter{
    text-transform: uppercase;
}

.typeInf {
    display: flex;
    gap: 10px;
    padding: 0 5px 5px;
}

.type{
    flex: 1;
    padding: 2px;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    color: #ffffff;
    background-color: black;
    text-shadow: 1px 1px 1px #000;
}

.fire {
    background-color: #FCA34F;
}
.water {
    background-color: #569DDF;
}
.grass {
    background-color: #5AC155;
}
.dragon {
    background-color: #1068BD;
}
.fairy {
    background-color: #E794E4;
}
.ghost {
    background-color: #7F5DC0;
}
.fighting {
    background-color: #D3435A;
}
.steel {
    background-color: #5593A1;
}
.psychic {
    background-color: #F6887F;
}
.bug {
    background-color: #8DBB28;
}
.rock {
    background-color: #C6BD8B;
}
.ground {
    background-color: #DA7C48;
}
.poison {
    background-color: #B660CD;
}
.ice {
    background-color: #74D1BF;
}
.normal {
    background-color: #9FA39E;
}

.flying {
    background-color: #7dd4ec;
}

.eletric {
    background-color: gold;
}
